<template>
  <v-alert
      v-if="show"
      :type="type"
      :title="title"
      :text="text"
      transition="slide-y-transition"
  ></v-alert>
</template>

<script>
export default {
  name: 'Alert',
  props: {
    show: {
      type: Boolean,
      required: true
    },
    type: {
      type: String,
      default: 'success'
    },
    title: {
      type: String,
      default: 'Alert title'
    },
    text: {
      type: String,
      default: ''
    }
  }
};
</script>

<style scoped>
.v-alert{
  margin-top: 3%;
}
</style>
