<template>
  <div>
    <v-hover v-slot="{ isHovering, props }">
      <v-card
          class="mx-auto"
          color="grey-lighten-4"
          max-width="600"
          v-bind="props"
      >
        <v-img
            :aspect-ratio="16/9"
            :src="img"
            cover
        >
          <v-expand-transition>
            <div
                v-if="isHovering"
                class="d-flex transition-fast-in-fast-out bg-shades-black v-card--reveal text-h2"
                style="height: 100%;"
            >
              {{ bigNumber }}
            </div>
          </v-expand-transition>
        </v-img>

        <v-card-text class="pt-6">
          <div class="font-weight-light text-grey text-h6 mb-2">
            //
          </div>

          <h3 class="text-h4 font-weight-light text-orange mb-2">
            {{ label }}
          </h3>

          <div class="font-weight-light text-h6 mb-2">
            {{ subtitle }}
          </div>
        </v-card-text>
      </v-card>
    </v-hover>
  </div>
</template>

<script>

export default {
  name: 'BigNumberCard',
  props: {
    bigNumber: {
      type: Number,
      required: true
    },
    label: {
      type: String,
      required: true
    },
    subtitle: {
      type: String,
      required: true
    },
    img: {
      type: String,
      required: true
    }
  }
};
</script>

<style>
.v-card--reveal {
  align-items: center;
  bottom: 0;
  justify-content: center;
  opacity: .9;
  position: absolute;
  width: 100%;
}
</style>
