<template>
  <v-card
      class="mx-auto my-8"
      max-width="344"
      elevation="16"
  >
    <v-card-item>
      <v-card-title>
        Seu workaday
        <v-btn @click="copyText" class="copy">
          Copiar
        </v-btn>
      </v-card-title>
      <v-card-subtitle>
        Seu dia organizado: Abaixo segue as suas infos
      </v-card-subtitle>
    </v-card-item>

    <v-card-text v-if="userName !== ''">
      <span>Nome do Usuário:</span>
      <p>{{ userName }}</p>
    </v-card-text>

    <v-card-text v-if="calls !== ''">
      <span>Alinhamentos:</span>
      <ul>
        <li v-for="topic in calls.split('-')" :key="topic">{{ topic.trim() }}</li>
      </ul>
    </v-card-text>

    <v-card-text v-if="done !== ''">
      <span>Entregas:</span>
      <ul>
        <li v-for="topic in done.split('-')" :key="topic">{{ topic.trim() }}</li>
      </ul>
    </v-card-text>

    <v-card-text v-if="contacts && contacts.length > 0">
      <span>Contatos:</span>
      <p>{{ contacts }}</p>
    </v-card-text>
  </v-card>
</template>

<script>
export default {
  name: "CardInfo",
  props: {
    userName: String,
    calls: String,
    done: String,
    contacts: Array,
  },
  methods: {
    copyText() {
      let textToCopy = '';

      if (this.userName !== '') {
        textToCopy += 'Nome do Usuário: ' + '\n' + this.userName + '\n';
      }

      if (this.calls !== '') {
        textToCopy += 'Alinhamentos: ' + '\n' + this.calls + '\n';
      }

      if (this.done !== '') {
        textToCopy += 'Entregas: ' + '\n' + this.done + '\n';
      }

      if (this.contacts && this.contacts.length > 0) {
        textToCopy += 'Contatos:\n';
        let contactsArray = this.contacts;

        if(typeof this.contacts === 'string') {
          contactsArray = this.contacts.split(',');
        }
        contactsArray.forEach(contact => {
          textToCopy += '- ' + contact + '\n';
        });
      }

      const tempInput = document.createElement('textarea');
      tempInput.value = textToCopy;
      document.body.appendChild(tempInput);
      tempInput.select();
      document.execCommand('copy');
      document.body.removeChild(tempInput);
    }
  }
}
</script>

<style scoped>
.copy{
  margin-left: 82px;
}
</style>
