<template>
      <v-container fluid>
        <v-row>
          <v-col cols="12" sm="10" md="8">
            <v-sheet class="mx-auto">
              <v-form id="workaday" validate-on="submit lazy" @submit.prevent="submit">
                <v-card-title>
                  <span class="headline">Editar workaday</span>
                </v-card-title>
                <v-text-field v-model="user_name" :rules="rules" label="Seu Nome"></v-text-field>
                <v-textarea v-model="calls" :rules="rules" label="Alinhamentos"></v-textarea>
                <v-textarea v-model="done" :rules="rules" label="Entregas"></v-textarea>
                <v-combobox v-model="contacts" v-model:search="search" :hide-no-data="false" :items="users" hide-selected
                            hint="Selecione seus contatos no dia" label="Contatos" multiple persistent-hint small-chips>
                  <template v-slot:no-data>
                    <v-list-item>
                      <v-list-item-title>
                        No results matching "<strong>{{ search }}</strong>". Press <kbd>enter</kbd> to create a new one
                      </v-list-item-title>
                    </v-list-item>
                  </template>
                </v-combobox>
                <v-btn :loading="loading" type="submit" block class="mt-2" color="green lighten-3">Atualizar workaday</v-btn>
              </v-form>
            </v-sheet>

            <v-divider></v-divider>

            <Alert :show="showAlert" :type="alertType" :title="alertTitle" :text="alertText" />
          </v-col>
          <CardInfo
              :userName="user_name"
              :calls="calls"
              :done="done"
              :contacts="contacts"
          ></CardInfo>
        </v-row>
      </v-container>
</template>

<script>
import http from "@/services/http.js";
import CardInfo from "@/components/CardInfo.vue";
import Alert from "@/components/Alert.vue";

export default {
  name: 'EditWorkaday',
  components: {Alert, CardInfo},
  data() {
    return {
      loading: false,
      users: [],
      rules: [value => this.checkApi(value)],
      calls: '',
      done: '',
      user_name: '',
      contacts: [],
      search: '',
      showAlert: false,
      alertType: '',
      alertText: '',
      alertTitle: ''
    };
  },

  async mounted() {
    try {
      const { data: contactsData } = await http.get('/contacts');
      this.users = contactsData;

      const workadayId = this.$route.params.workadayData;

      const { data: workadayData } = await http.get('/workaday/' + workadayId);

      this.calls = workadayData.calls;
      this.done = workadayData.done;
      this.user_name = workadayData.owner_name;

      let contactsArray = workadayData.contacts;
      if (typeof contactsArray === 'string') {
        contactsArray = JSON.parse(contactsArray);
      }
      let formattedContacts = '';
      if (Array.isArray(contactsArray)) {
        formattedContacts = contactsArray.map(contact => contact).join(', ');
      }
      this.contacts = formattedContacts;
    } catch (error) {
      console.log('Erro ao carregar os dados do workaday:', error);
    }
  },

  methods: {
    async submit() {
      this.loading = true;

      try {
        await http.put(`/workaday/${this.$route.params.workadayData}`, {
          calls: this.calls,
          done: this.done,
          user_name: this.user_name,
          user_id: localStorage.getItem('userId'),
          contacts: this.contacts,
        });
        this.showAlertWithTimeout(true, 'success', 'Seu workaday foi editado!', 'Sucesso');

        this.$router.push({ name: 'list-workadays' });
      } catch (error) {
        this.showAlertWithTimeout(true, 'error', 'Seu workaday não foi editado. Tente novamente!', 'Erro');
      } finally {
        this.loading = false;
      }
    },

    async checkApi() {
      // Implemente a lógica para verificar a API, se necessário
    },

    showAlertWithTimeout(show, type, text, title) {
      this.showAlert = show;
      this.alertType = type;
      this.alertText = text;
      this.alertTitle = title;

      setTimeout(() => {
        this.showAlert = false;
      }, 5000);
    },
  },
}
</script>
