<template>
    <v-app>
      <v-app-bar app color="primary">
        <v-toolbar-title>Workadays</v-toolbar-title>
        <v-spacer></v-spacer>
        <v-btn @click="redirectToHome" text>Home</v-btn>
        <v-btn @click="redirectToUsers" text>Listagem</v-btn>
      </v-app-bar>

    </v-app>
</template>
  
  <router-view></router-view>
  
<script>
    import router from '@/router'

    export default {
        name: 'Header',
        methods: {
            redirectToUsers() {
                router.push('/users');
            },
            redirectToHome() {
                router.push('/');
            }
        }
    };
  </script>