<template>
  <SidebarList></SidebarList>
  <v-main>
    <h2 v-if="isHomePage()">
      <div class="cards-container">
        <div class="users-numbers">
          <BigNumberCard
              :bigNumber="1000"
              label="Total de usuários"
              subtitle="Quantidade total de usuários"
              img="https://www.groovypost.com/wp-content/uploads/2022/12/two-users-laptop-featured.jpg"
          ></BigNumberCard>
        </div>

        <div class="workaday-numbers">
          <BigNumberCard
              :bigNumber="1000"
              label="Total de workaday"
              subtitle="Quantidade total de workaday"
              img="https://static.todamateria.com.br/upload/di/ar/diariogenerotextual-cke.jpg"
          ></BigNumberCard>
        </div>
      </div>

      <div class="steps">
        <v-stepper alt-labels :items="['Passo 1', 'Passo 2', 'Passo 3']">
          <template v-slot:item.1>
            <v-card title="Passo um" flat>...</v-card>
          </template>

          <template v-slot:item.2>
            <v-card title="Passo dois" flat>...</v-card>
          </template>

          <template v-slot:item.3>
            <v-card title="Passo três" flat>...</v-card>
          </template>
        </v-stepper>
      </div>
    </h2>
    <router-view></router-view>
  </v-main>
</template>

<script>
import SidebarList from "@/components/SidebarList.vue"
import BigNumberCard from "@/components/BigNumberCard.vue";

export default {
  name: 'Home',
  components: { SidebarList, BigNumberCard },

  methods: {
    isHomePage() {
      return this.$route.path === '/';
    }
  }
};
</script>

<style scoped>
.cards-container {
  text-align: center;
  padding: 110px;
}

.steps{
  margin-left: 27%;
}

.steps,
.users-numbers,
.workaday-numbers {
  width: 50%;
  display: inline-block;
  vertical-align: top;
  padding: 0 10px;
}
</style>
