<template>
  <v-card>
    <v-card-title>
      <span class="headline">Lista de Usuários</span>
    </v-card-title>

    <v-card-text>
      <v-text-field
          v-model="search"
          label="Procurar usuário"
          outlined
          dense
      ></v-text-field>

      <v-data-table
          :items="filteredUsers"
          :search="search"
          :footer-props="{
          'items-per-page-options': [5, 10, 20],
          'items-per-page-text': 'Itens por página'
        }"
      >
        <template v-slot:header>
          <thead>
          <tr>
            <th class="text-left">#</th>
            <th class="text-left">Nome</th>
            <th class="text-left">Email</th>
            <th class="text-left">Cargo</th>
          </tr>
          </thead>
        </template>
      </v-data-table>
    </v-card-text>
  </v-card>
</template>

<script>
import http from "@/services/http.js";

export default {
  name: 'ListUsers',
  data() {
    return {
      users: [],
      search: ''
    }
  },
  computed: {
    filteredUsers() {
      const searchTerm = this.search.toLowerCase();
      return this.users.filter(user =>
          user.nome.toLowerCase().includes(searchTerm) ||
          user.email.toLowerCase().includes(searchTerm) ||
          user.cargo.toLowerCase().includes(searchTerm)
      );
    }
  },
  async mounted() {
    try {
      const { data } = await http.get('/users');
      this.users = data.map(user => ({
        id: user.id,
        nome: `${user.first_name} ${user.last_name}`,
        email: user.email,
        cargo: user.job_description
      }));
    } catch (error) {
      console.log(error);
    }
  }
};
</script>
