<template>
  <v-card-title>
    <div class="workaday-list">
      <span class="headline">Workaday</span>
    </div>

    <v-row class="mx-n2">
      <v-col cols="2">
        <v-text-field v-model="startDate" label="Data Inicial" type="date" filled></v-text-field>
      </v-col>
      <v-col cols="2">
        <v-text-field v-model="endDate" label="Data Final" type="date" filled></v-text-field>
      </v-col>
      <v-col cols="4">
        <v-btn @click="download()" color="blue" class="download">Baixar relatório</v-btn>
      </v-col>
    </v-row>
  </v-card-title>

  <v-table>
    <thead>
      <tr>
        <th class="text-left">
          #
        </th>
        <th class="text-left">
          Usuário
        </th>
        <th class="text-left" style="width: 500px;">
          Alinhamentos
        </th>
        <th class="text-left" style="width: 250px;">
          Entregas
        </th>
        <th class="text-left" style="width: 250px;">
          Contatos
        </th>
        <th class="text-left">
          Data
        </th>
        <th class="text-left">
          Ações
        </th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="workaday in workadays" :key="workaday.id">
        <td>{{ workaday.id }}</td>
        <td>{{ workaday.owner_name }}</td>
        <td>{{ workaday.calls }}</td>
        <td>{{ workaday.done }}</td>
        <td>{{ formatContacts(workaday.contacts) }}</td>
        <td>{{ formatDate(workaday.created_at) }}</td>
        <td>
          <v-btn @click="editWorkaday(workaday.id)" color="blue" class="mr-2">Editar</v-btn>
          <v-btn @click="deleteWorkaday(workaday.id)" color="red">Deletar</v-btn>
        </td>
      </tr>
    </tbody>
  </v-table>
</template>

<script>
import http from "@/services/http.js";
import router from '@/router'

export default {
  name: 'ListWorkadays',
  data() {
    return {
      workadays: [],
      startDate: null,
      endDate: null
    }
  },

  async mounted() {
    try {
      const { data } = await http.get('/workadays');

      console.log(data)

      this.workadays = data;
    } catch (error) {
      console.log(error)
    }
  },

  methods: {
    async editWorkaday(workaday) {
      try {
        router.push({ name: 'EditWorkaday', params: { workadayData: workaday } });
      } catch (error) {
        console.log('Erro ao navegar para a página de edição:', error);
      }
    },

    async download() {
      try {
        const response = await http.post('/workaday/export', {
          start_date: this.startDate,
          end_date: this.endDate,
        }, {
          responseType: 'blob'
        });

        const url = window.URL.createObjectURL(new Blob([response.data]));
        const link = document.createElement('a');
        link.href = url;
        link.setAttribute('download', 'relatorio_workadays.pdf');
        document.body.appendChild(link);
        link.click();
      } catch (error) {
        console.log('Erro ao baixar o relatório:', error);
      }
    },

    async deleteWorkaday(id) {
      try {
        const response = await http.delete('/workaday/' + id);
        if (response.status === 200) {
          console.log('Workaday deletado com sucesso!');
          window.location.reload();
        }
      } catch (error) {
        console.log('Erro ao excluir o workaday:', error);
      }
    },

    formatContacts(contacts) {
      let contactsArray = contacts;
      if (typeof contactsArray === 'string') {
        contactsArray = JSON.parse(contactsArray);
      }
      let formattedContacts = '';
      if (Array.isArray(contactsArray)) {
        formattedContacts = contactsArray.map(contact => contact).join(', ');
      }
      return formattedContacts
    },

    formatDate(dataString) {
      const data = new Date(dataString);
      const options = {
        year: 'numeric',
        month: '2-digit',
        day: '2-digit',
        weekday: 'long',
        hour: '2-digit',
        minute: '2-digit'
      };
      return data.toLocaleDateString('pt-BR', options);
    }
  }
}
</script>

<style scoped>
.download{
  margin-left: auto;
  margin-bottom: -5%;
}

.v-card-title{
  margin-bottom: 2%;
  background-color: #f2f2f2;
  padding: 20px;
}

.workaday-list{
  margin-bottom: 2%;
  background-color: #9ca3af;
  padding: 5px;

}
</style>
