<template>
  <div class="login-container">
    <v-card class="login-card" elevation="8">
      <v-img
          class="mx-auto my-6"
          max-width="228"
          src="https://www.shutterstock.com/image-vector/open-book-side-view-mockup-600nw-2082977728.jpg"
      ></v-img>

      <span class="span-login">
        Workadays
      </span>
      <v-card-text>
        <div class="text-subtitle-1 text-medium-emphasis">E-mail</div>
        <v-text-field
            density="compact"
            placeholder="Digite seu E-mail"
            prepend-inner-icon="mdi-email-outline"
            variant="outlined"
            v-model="email"
        ></v-text-field>

        <div class="text-subtitle-1 text-medium-emphasis d-flex align-center justify-space-between">
          Senha
<!--          <a-->
<!--              class="text-caption text-decoration-none text-blue"-->
<!--              href="#"-->
<!--              rel="noopener noreferrer"-->
<!--              target="_blank"-->
<!--          >-->
<!--            Forgot login password?</a>-->
        </div>

        <v-text-field
            :append-inner-icon="visible ? 'mdi-eye-off' : 'mdi-eye'"
            :type="visible ? 'text' : 'password'"
            density="compact"
            placeholder="Digite sua senha"
            prepend-inner-icon="mdi-lock-outline"
            variant="outlined"
            v-model="password"
            @click:append-inner="visible = !visible"
        ></v-text-field>

        <v-btn
            block
            class="mb-8"
            color="blue"
            size="large"
            variant="tonal"
            @click="login"
        >
          Entrar
        </v-btn>

        <div class="alert_login">
          <v-alert
              v-if="error !== null"
              type="error"
              outlined
          >
            {{ error }}
          </v-alert>

          <v-alert
              v-if="success"
              type="success"
              outlined
          >
            Login successful!
          </v-alert>
        </div>

        <v-card-text class="text-center">
          <a
              class="text-blue text-decoration-none"
              href="/register"
              rel="noopener noreferrer"
              target="_blank"
          >
            Se registre agora <v-icon icon="mdi-chevron-right"></v-icon>
          </a>
        </v-card-text>
      </v-card-text>
    </v-card>
  </div>
</template>

<script>
import http from "@/services/http.js";
import router from '@/router'

export default {
  data: () => ({
    visible: false,
    error: null,
    success: false,
    email: '',
    password: '',
  }),
  methods: {
    async login() {
      try {
        const response = await http.post('/login', {
          email: this.email,
          password: this.password
        });

        console.log(response)

        if (response.status === 200) {
          this.success = true;
          this.error = null;
          console.log(response.data)
          localStorage.setItem('token', response.data.token);
          localStorage.setItem('userId', response.data.user_id);
          localStorage.setItem('userName', response.data.user_name);
          await router.push('/');
        }
      } catch (error) {
        if (error.response.status === 401) {
          this.error = 'Login ou senha incorretos.';
          this.success = false;

          return;
        }

        this.error = 'Houve um erro ao tentar realizar o login.';
        this.success = false;
      }
    }
  }
}
</script>

<style scoped>
.login-container {
  background-image: url('https://images.unsplash.com/photo-1574629173115-01ba37282238?q=80&w=2576&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card {
  width: 100%;
  max-width: 800px;
  padding: 48px;
}

.alert_login {
  margin-top: 12px;
}

.span-login {
  display: flex;
  margin-left: 32%;
  font-size: 310%;
  font-family: "Papyrus", Fantasy;
}
</style>
