<template>
  <router-link v-if="showLoginButton" to="/login">
    <v-btn
    >
      Login
    </v-btn>
  </router-link>
</template>

<script>
export default {
  name: "LoginButton",
  computed: {
    showLoginButton() {
      return this.$route.path === "/register";
    }
  }

}
</script>

<style scoped>

</style>
