<template>
  <router-link v-if="showLogoutButton" to="/logout">
    <v-btn icon @click="logout">
      <v-icon>mdi-logout</v-icon>
    </v-btn>
  </router-link>
</template>

<script>
export default {
  name: "LogoutButton",
  computed: {
    showLogoutButton() {
      return this.$route.path !== "/login" && this.$route.path !== "/register";
    }
  },
  methods:{
    logout() {
      localStorage.removeItem('token');
    }
  }
}
</script>

<style scoped>

</style>
