<template>
    <router-link to="/register">
      <div class="register_container">
      <v-card
          class="register-card"
          title="Registro de usuário"
      >
        <v-container>
          <v-text-field
              v-model="first"
              color="primary"
              label="Primeiro nome"
              variant="underlined"
          ></v-text-field>

          <v-text-field
              v-model="last"
              color="primary"
              label="Ultimo nome"
              variant="underlined"
          ></v-text-field>

          <v-text-field
              v-model="job"
              color="primary"
              label="Cargo"
              variant="underlined"
          ></v-text-field>

          <v-text-field
              v-model="email"
              color="primary"
              label="Email"
              variant="underlined"
          ></v-text-field>

          <v-text-field
              v-model="password"
              color="primary"
              label="Senha"
              placeholder="Enter your password"
              variant="underlined"
          ></v-text-field>
        </v-container>

        <v-card-actions>
          <v-spacer></v-spacer>

          <v-btn color="success" @click="register">
            Registrar

            <v-icon icon="mdi-chevron-right" end></v-icon>
          </v-btn>
        </v-card-actions>
      </v-card>
      </div>
    </router-link>
</template>

<script>
import http from "@/services/http.js";
import router from '@/router'

export default {
  name: "Register",
  data: () => ({
    first: null,
    last: null,
    email: null,
    password: null,
    job: null,
    terms: false,
  }),
  methods: {
    async register() {
      try {
        const response = await http.post('/register', {
          first_name: this.first,
          last_name: this.last,
          job_description: this.job,
          email: this.email,
          password: this.password,
          terms: this.terms
        });

        if (response.status === 201) {
          router.push('/login');
        }
      } catch (error) {
        console.error('Error during registration:', error);
      }
    }
  }
}
</script>

<style scoped>
.register_container {
  background-image: url('https://images.unsplash.com/photo-1574629173115-01ba37282238?q=80&w=2576&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-card {
  width: 100%;
  max-width: 40%;
  padding: 48px;
}

.alert_login {
  margin-top: 12px;
}

</style>
