<template>
  <router-link v-if="showRegisterButton" to="/register">
    <v-btn>
      Register
    </v-btn>
  </router-link>
</template>

<script>
export default {
  name: "RegisterButton",
  computed: {
    showRegisterButton() {
      return this.$route.path === "/login";
    }
  }
}
</script>
