<template>
  <v-navigation-drawer
      v-model="drawer"
      :rail="rail"
      permanent
      @click="rail = false"
  >
    <v-list-item
        prepend-icon="mdi-account"
        :title="getName()"
        nav
    >
      <template v-slot:append>
        <v-btn
            variant="text"
            icon="mdi-chevron-left"
            @click.stop="rail = !rail"
        ></v-btn>
      </template>
    </v-list-item>

    <v-list density="compact" nav>
      <v-list-item prepend-icon="mdi-home" title="HOME" to="/" value="home"></v-list-item>
      <v-list-item prepend-icon="mdi-account-group-outline" title="COLABORADORES" to="/list-users" value="home"></v-list-item>
      <v-list-item prepend-icon="mdi-book" title="CRIAR WORKADAY" to="/create-workaday" value="account"></v-list-item>
      <v-list-item prepend-icon="mdi-format-list-bulleted" title="WORKADAYS" value="users" to="/list-workadays"></v-list-item>
    </v-list>
  </v-navigation-drawer>
</template>

<script>
export default {
  name: 'SidebarList',
  data() {
    return {
      drawer: true,
      rail: true,
    };
  },

  methods: {
    getName() {
      return localStorage.getItem('userName');
    },
  }
};
</script>

<style>

</style>
