<template>
    <v-container class="d-flex align-center justify-center" fluid>
      <v-row>
        <v-col cols="12" sm="10" md="8">
          <v-form id="workaday" validate-on="submit lazy" @submit.prevent="submit" class="mx-auto">
            <v-card-title>
              <span class="headline">Criar seu workday</span>
            </v-card-title>
            <v-text-field v-model="user_name" :rules="rules" label="Seu Nome"></v-text-field>
            <v-textarea v-model="calls" :rules="rules" label="Alinhamentos" class="prefixed-textarea" placeholder="Comece cada tópico com - para exibir corretamente no card">
            </v-textarea>
            <v-textarea v-model="done" :rules="rules" label="Entregas" placeholder="Comece cada tópico com - para exibir corretamente no card"></v-textarea>
            <v-combobox v-model="contacts" v-model:search="search" :hide-no-data="false" :items="users" hide-selected
              hint="Selecione seus contatos no dia" label="Contatos" multiple persistent-hint small-chips>
              <template v-slot:no-data>
                <v-list-item>
                  <v-list-item-title>
                    No results matching "<strong>{{ search }}</strong>". Press <kbd>enter</kbd> to create a new one
                  </v-list-item-title>
                </v-list-item>
              </template>
            </v-combobox>
            <v-btn :loading="loading" type="submit" block class="mt-2" text="Submeter workaday" color="green lighten-3"></v-btn>
          </v-form>

          <v-divider></v-divider>

          <Alert :show="showAlert" :type="alertType" :title="alertTitle" :text="alertText" />
        </v-col>
        <CardInfo
            :userName="user_name"
            :calls="calls"
            :done="done"
            :contacts="contacts"
        ></CardInfo>
      </v-row>
    </v-container>
</template>

<script>
import http from "@/services/http.js";
import CardInfo from "@/components/CardInfo.vue";
import Alert from "@/components/Alert.vue";

export default {
  name: 'WorkadayForm',
  components: {Alert, CardInfo},
  data: vm => ({
    loading: false,
    favorites: [],
    users: [],
    rules: [value => vm.checkApi(value)],
    timeout: null,
    calls: '',
    done: '',
    user_name: '',
    contacts: null,
    model: null,
    search: null,
    deliveries: [''],
    showAlert: false,
    alertType: '',
    alertText: '',
    alertTitle: ''
  }),

  async mounted() {
    try {
      const { data } = await http.get('/contacts');
      console.log(data)
      this.users = data;
    } catch (error) {
      console.log(error)
    }
  },

  methods: {
    async submit() {
      this.loading = true

      try {
        await http.post('/workaday/create', {
          calls: this.calls,
          done: this.done,
          contacts: this.contacts,
          user_id: localStorage.getItem('userId'),
          user_name: this.user_name,
        });
        this.showAlertWithTimeout(true, 'success', 'Seu workaday foi criado!', 'Sucesso');

      } catch (error) {
        this.showAlertWithTimeout(true, 'error', 'Seu workaday não foi criado. Tente novamente!', 'Erro');
      } finally {
        this.loading = false;
      }
    },
    async checkApi() {
      return new Promise(resolve => {
        clearTimeout(this.timeout)

        this.timeout = setTimeout(() => {
          return resolve(true)
        }, 1000)
      })
    },
    showAlertWithTimeout(show, type, text, title) {
      this.showAlert = show;
      this.alertType = type;
      this.alertText = text;
      this.alertTitle = title;

      setTimeout(() => {
        this.showAlert = false;
      }, 5000);
    },
  },
}
</script>

<style scoped>
.prefixed-textarea textarea {
  white-space: pre-line; /* Preserva quebras de linha */
}

.prefixed-textarea textarea::first-line {
  text-indent: -1.5em; /* Move o texto para a esquerda para acomodar o prefixo "- " */
}

.prefixed-textarea textarea::first-line::before {
  content: "- "; /* Adiciona o prefixo "-" */
}

.v-alert{
  margin-top: 3%;
}
</style>
