<template>
  <v-app>
    <v-app-bar app color="black">
      <v-toolbar-title class="custom-title">WORKADAYS - se organize!</v-toolbar-title>
      <v-spacer></v-spacer>
      <LoginButton></LoginButton>
      <LogoutButton></LogoutButton>
      <RegisterButton></RegisterButton>
    </v-app-bar>

    <v-main class="teste">
      <router-view></router-view>
    </v-main>
  </v-app>
</template>

<script>
import LoginButton from "@/components/LoginButton.vue";
import LogoutButton from "@/components/LogoutButton.vue";
import RegisterButton from "@/components/RegisterButton.vue";

export default {
  components: {RegisterButton, LogoutButton, LoginButton},
  name: 'App',
}
</script>

<style scoped>
.custom-title {
  font-family: "Papyrus", Fantasy;
}

.teste{
  padding-left: 0px;
}
</style>
